<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="./index.css"/>

    <title>Main menu</title>
</head>
<header>
    <div align="center">
        <br>
        <h1>Java AND Magic</h1>
        <br><h6>ComboBreakers team</h6>
    </div>
    <hr/>
</header>
<body>
<div align="center">
    <br><a href="/allHeroes">
        <button class="complete-btn">Show All Heroes</button>
    </a></br>
    <br><a href="/createHero">
        <button class="complete-btn">Create New Hero</button>
    </a></br>
</div>
</body>
</html>